/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.azeret-mono{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
/* Shared Styles */
.txt-blk-1{
  font-weight: 800;
  font-size: 48px;
  color: rgba(13, 19, 33, 1);
}
.txt-blk-2{
  font-weight: 800;
  font-size: 32px;
  color: rgba(13, 19, 33, 1);
}
.txt-blk-3{
  font-weight: 700;
  font-size: 24px;
  color: rgba(13, 19, 33, 0.7);
}
.txt-blk-4{
  font-weight: 400;
  font-size: 16px;
  color: rgba(13, 19, 33, 1);
}

.btn-learn{
  font-weight: 500;
  font-size: 20px;
  color: rgba(13, 19, 33, 1);
  background-color: white;
  padding: 12px 20px;

}


/* Nav Styles */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 150px 36px;
}
.nav-title{
  font-weight: 800;
  font-size: 28px;

}
nav ul li{
  list-style: none;
}
.btn-nav{
  font-weight: 600;
  font-size: 20px;
  color: rgba(13, 19, 33, 1);
  border-radius: 8px;
  padding: 17px 24px;
  background-color: white;
}

/* Banner Styles */
.banner-bg1{
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.test{
  position: absolute;
  bottom: 500px;
  left: 830px;
  right: 370px;
}

.banner-secondary{
  position: absolute;
  bottom: 220px;
  right: 221px;
  left: 221px;
  padding: 10px;
  text-align: center;
  
}

.banner-third{
  position: absolute;

  bottom: 100px;
  right: 380px;
  left: 450px;
}
.button-banner{
  color: rgba(255, 255, 255, 1);
  background-color: rgba(13, 19, 33, 1);
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  padding: 21px 24px;
}
.banner-btn{
  position: absolute;
  bottom: 0px;
  left: 850px;
}

/* Main Styles */
.development-section{
  text-align: center;
  margin: 75px 150px 90px 150px;
  padding: 70px;
  background-color: rgba(13, 19, 33, 0.02);
  border-radius: 16px;
}
.section-main1{
  display: flex;
  justify-content: space-between;
  margin: 50px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
}

.section1{
  text-align: left;
  margin: 50px 100px 50px 0px;
}
.section2{
  margin-right: 80px;
}

.section-main2{
  display: flex;
  margin: 50px;
  padding: 70px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
}
.section4{
  text-align: left;
  margin: 10px 50px 50px 100px;
}

.section-main3{
  display: flex;
  justify-content: space-between;
  margin: 50px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
}

.section5{
  text-align: left;
  margin: 50px 100px 50px 0px;
}
.section6{
  margin-right: 80px;
}

.video-section{
  text-align: center;
  margin: 75px 150px 90px 150px;
  padding: 70px;
  border-radius: 16px;
}
.vsection{
  border-radius: 16px;
  overflow: hidden;
  z-index: 1;
  height: 650px;
  width: 1200px;
  margin: 75px;
  padding: 30px;
  background-color: rgba(13, 19, 33, 0.02);
}




