/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.azeret-mono{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
/* Shared Styles */
.txt-blk-1{
  font-weight: 800;
  font-size: 48px;
  color: rgba(13, 19, 33, 1);
}
.txt-blk-2{
  font-weight: 800;
  font-size: 32px;
  color: rgba(13, 19, 33, 1);
}
.txt-blk-3{
  font-weight: 700;
  font-size: 24px;
  color: rgba(13, 19, 33, 0.7);
}
.txt-blk-4{
  font-weight: 400;
  font-size: 16px;
  color: rgba(13, 19, 33, 1);
}
.txt-blk-5{
  font-weight: 800;
  font-size: 24px;
  color: rgba(13, 19, 33, 1);
}

.learn{
  font-weight: 700;
  font-size: 16px;
  color: rgba(13, 19, 33, 1);
}

.btn-learn{
  font-weight: 500;
  font-size: 20px;
  color: rgba(13, 19, 33, 1);
  background-color: white;
  padding: 12px 20px;

}
.text-alignment{
  text-align: center;
}


/* Nav Styles */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 150px 36px;
}
.nav-title{
  font-weight: 800;
  font-size: 28px;

}
nav ul li{
  list-style: none;
}
.btn-nav{
  font-weight: 600;
  font-size: 20px;
  color: rgba(13, 19, 33, 1);
  border-radius: 8px;
  padding: 17px 24px;
  background-color: white;
}

/* Banner Styles */
.banner-bg1{
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.test{
  position: absolute;
  bottom: 500px;
  left: 830px;
  right: 370px;
}

.banner-secondary{
  position: absolute;
  bottom: 220px;
  right: 221px;
  left: 221px;
  padding: 10px;
  text-align: center;
  
}

.banner-third{
  position: absolute;

  bottom: 100px;
  right: 380px;
  left: 450px;
}
.button-banner{
  color: rgba(255, 255, 255, 1);
  background-color: rgba(13, 19, 33, 1);
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
  padding: 21px 24px;
}
.banner-btn{
  position: absolute;
  bottom: 0px;
  left: 850px;
}

/* Main Styles */
/* development section */
.development-section{
  text-align: center;
  margin: 75px 150px 90px 150px;
  padding: 70px;
  background-color: rgba(13, 19, 33, 0.02);
  border-radius: 16px;
}
.section-main1{
  display: flex;
  justify-content: space-between;
  margin: 50px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
}

.section1{
  text-align: left;
  margin: 50px 100px 50px 0px;
}
.section2{
  margin-right: 80px;
}

.section-main2{
  display: flex;
  margin: 50px;
  padding: 70px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
}
.section4{
  text-align: left;
  margin: 10px 50px 50px 100px;
}

.section-main3{
  display: flex;
  justify-content: space-between;
  margin: 50px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
}

.section5{
  text-align: left;
  margin: 50px 100px 50px 0px;
}
.section6{
  margin-right: 80px;
}

/* Youtube Video Added section */

.video-section{
  text-align: center;
  margin: 75px 150px 90px 150px;
  padding: 70px;
  border-radius: 16px;
}
.vsection1{
  border-radius: 16px;
}
.vsection{
  border-radius: 16px;
  overflow: hidden;
  z-index: 1;
  height: 650px;
  width: 1200px;
  margin: 75px;
  padding: 30px;
  background-color: rgba(13, 19, 33, 0.02);
}

/* Current Target Section */

.current-section{
  margin: 75px 150px 90px 150px;
  padding: 70px;
  background-color: white;
  border-radius: 16px;
}
.current-container{
  display: flex;
  justify-content: space-between;
  gap:24px;
  

}
.current1{
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
  background-color: rgba(255, 76, 30, 0.05);
}
.current2{
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
  background-color: rgba(0, 76, 232, 0.05);
}
.current3{
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06) ;
  background-color: rgba(255, 223, 0, 0.05);
}
/* Next Target Section */
.next-section{
  margin: 75px 150px 90px 150px;
  padding: 70px;
  background-color: white;
  border-radius: 16px;
}
.next-container1{
  display: flex;
  justify-content: space-between;
  background-color:rgba(13, 19, 33, 0.02);
  padding: 20px;
  margin: 30px 0px 30px 0px;
}

.container1{
  padding: 20px;
  margin-top: 20px;
}
.container2{
  margin-left: 20px;
}

.next-container2{
  display: flex;
  justify-content: space-between;
  background-color:rgba(13, 19, 33, 0.02);
  padding: 20px;
  margin: 30px 0px 30px 0px;
}
.container3{
  padding: 20px;
  margin-top: 20px;
}
.container4{
  margin-left: 20px;
}
.next-container3{
  display: flex;
  justify-content: space-between;
  background-color:rgba(13, 19, 33, 0.02);
  padding: 20px;
  margin: 30px 0px 30px 0px;
}
.container5{
  padding: 20px;
  margin-top: 20px;
}
.container6{
  margin-left: 20px;
}
.support{
  margin: 75px 150px 90px 150px;
  padding: 70px;
  border-radius: 16px;
}
.final-image{
  border-radius: 16px;
}
.final-image1{
  position: relative;
}
.write-image{
  position: absolute;
  bottom: 80px;
  right: 198px;
  text-align: center;
}
.write-support{
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 32px;
}
.write-supportt{
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 16px;
}
.submit1{
  font-weight: 700;
  font-size: 20px;
  padding: 15px 15px;
  background-color: white;
  border-radius: 10px;
  border: none;
  
}
.input-1{
  width: 600px;
  height: 50px;
  font-size: 16px;
  color: rgba(13, 19, 33, 0.4);
  font-weight: 400;
  border-radius: 16px;
}
/* Footer Styles */
.footer{
  background-color: rgba(13, 19, 33, 0.03);
  padding: 0px 100px;
  display: flex;
  justify-content: space-between;
}
